/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
* {
    font-family: 'LED Digital 7', sans-serif;
}

.digito {
    width: 100px;
    height: 120px;
    background-color: lightblue;
    color: lightsalmon;
    font-family: 'LED Digital 7', sans-serif;
    box-shadow: 0 0 10px rgb(72, 128, 146);
}

.fondo {
    background-color: rgb(219, 219, 219);

}